{% extends "Accounts/homepage.html" %}
<div>
    {% block nav %} 
        {% include "Accounts/nav-in.html" %} 
    {% endblock %}
</div>
<div>
    {% block adduser %} 
        {% if request.user.is_superuser %}
            <form action="{% url 'user' %}" class="form-control-sm" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <label for="username" class="d-block d-lg-inline">Username: <input type="text" name="username" id="username" required></label>
                <label for="email" class="d-block d-lg-inline">Email: <input type="email" name="email" id="email" required></label>
                <input type="hidden" name="password" value="bytemontan" id="password" required>
                <label for="image" class="d-block d-md-inline">Profile Picture: <input type="file" name="image" id="image" accept="image/*" required></label>
                <button type="submit">Register</button>
            </form>
        {% endif %}
    {% endblock %} 

    {% block stats %}
        <div class="mt-5 bg-dark container text-info">
            <h4 class="text-center"><span>The ranks are in the order</span> <span class="text-light">white</span> <span class="text-success">green</span> <span class="text-warning">yellow</span> <span class="text-gold">orange</span> <span class="text-danger">red</span> with <span class="text-light">white</span> as the worst and <span class="text-danger">red</span> as the best</h4>
            <h3 class="text-center">Ranks ordered from <span class="text-light">worst</span> to <span class="text-danger">best</span> are as follows</h3>
            <div class="row">
                <div class="col">
                    <h4>Overall Badges</h4>
                    <ol>
                        <li class="text-light">Novice</li>
                        <li class="text-success">Junior</li>
                        <li class="text-success">All rounder</li>
                        <li class="text-warning">Senior</li>
                        <li class="text-warning">Pro</li>
                        <li class="text-gold">Specialist</li>
                        <li class="text-gold">Expert</li>
                        <li class="text-gold">Master</li>
                        <li class="text-danger">Genius</li>
                        <li class="text-danger">GrandMaster</li>
                    </ol>
                </div>
                <div class="col">
                    <h4>Performance Badges</h4>
                    <ol>
                        <li class="text-light">Lazy Dog</li>
                        <li class="text-success">Doer</li>
                        <li class="text-gold">Executor</li>
                        <li class="text-danger">Achiever</li>
                    </ol>
                </div>
                <div class="col">
                    <h4>Creativity Badges</h4>
                    <ol>
                        <li class="text-light">Uncreative</li>
                        <li class="text-success">Dreamer</li>
                        <li class="text-gold">Idealist</li>
                        <li class="text-danger">Visionary</li>
                    </ol>
                </div>
                <div class="col">
                    <h4>Research Badges</h4>
                    <ol>
                        <li class="text-light">Ignorant</li>
                        <li class="text-success">Learner</li>
                        <li class="text-gold">Researcher</li>
                        <li class="text-danger">Consultant</li>
                    </ol>
                </div>
            </div>
        </div>
    {% endblock stats %}

    {% block reply %}
        <form class="form-control-sm" action="{% url 'reply' rating.id %}" method="POST">
            {% csrf_token %} {{reply}}
            <button type="submit">reply</button>
        </form>
    {% endblock %}
</div>