<div id="nav" class="d-flex justify-content-between p-1 w-100">
    <div>
        <h1 class="display-4 d-flex justify-content-start">ByteMontan</h1>
        <h3 class="small d-flex justify-content-center">The Home of Technological Advancements</h3>
    </div>

    <h3 class="align-self-center">
        <a href="{% url 'home_in' %}" class="btn d-block d-sm-inline">Home</a>
        <!-- <a href="">Forum</a> -->
        <a href="{% url 'idea' %}" class="btn d-block d-sm-inline">Ideas</a>
        <!-- <a href="">Notifications</a> -->
        <a href="{% url 'log_out' %} " class="btn d-block d-sm-inline">LogOut</a>
    </h3>
    <!-- there was event form-->
</div>