{% load static from staticfiles %}
{% load library %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
    <title>{{profile.user}}</title>
</head>

<body>
    {% if request.user.is_authenticated %}
        {% include "Accounts/nav-in.html" %}
    {%else%}
        {% include "Accounts/nav-out.html" %}
    {% endif %}
    <h4>
        <a href="{% url 'home_in' %}#{{profile.user}}">home</a>/
        <a href="{% url 'profile' profile.id %}">{{profile.user}}</a></h4>
    {% if request.user == profile.user %}
            <form onsubmit="return check();" action="{% url 'user' %}" class="form-control-sm bg-gold container text-center" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <h5 id="message">{{request.session.message}}</h5>
                <input type="hidden" name="user_id" value="{{profile.user.id}}">
                <label for="username" class="d-block d-xl-inline">Username: <input type="text" name="username" id="username" value="{{profile.user.username}}" required></label>
                <label for="email" class="d-block d-xl-inline">Email: <input type="email" name="email" id="email" value="{{profile.user.email}}" required></label>
                <label for="password" class="d-block d-xl-inline">New Password: <input type="password" name="password" id="password" required></label>
                <label for="cpassword" class="d-block d-xl-inline">Confirm Password: <input type="password" name="cpassword" id="cpassword" required></label>
                <label for="old_password" class="d-block d-xl-inline">Current Password: <input type="password" name="old_password" id="old_password" required></label>
                <button type="submit">Change Info</button>
            </form>
        {% endif %}
    <div class="row container bg-purple mx-auto">
        <div class="col-12 col-md-5 text-center">
            <div class="rounded-circle bg-gold p-1 mt-1" style="width: 260px; height: 200px; background-image: url({{profile.image.url}}); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
        </div>
        <div class="col-12 col-md text-center text-md-left">
            <h4 class="text-gold">Name: <span class="text-danger">{{profile.user.username}}</span></h4>
            <h4 class="text-gold">Major Role: <span class="text-danger">{{major_role}}</span></h4>
            <h4 class="text-gold">Self-Rank: <span class="text-danger">{{myself}}</span></h4>
            <h4 class="text-gold">Corporate-Rank: <span class="text-danger">{{others}}</span></h4>
            <h4 class="text-gold">Legendary-Rank: <span class="text-danger">{{goats}}</span></h4>
        </div>
    </div>
    {% if request.user == profile.user %}
            <form action="{% url 'user' %}" class="form-control-sm text-center" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{profile.user.id}}">
                <label for="image">Profile Picture: </label><input type="file" name="image" id="image" accept="image/*" required>
                <button type="submit">Change Picture</button>
            </form>
            {% endif %}

    <div id="define_point" class="my-5">
        {% if request.user.is_authenticated %}
        <form class="text-center form-control-sm" action="{% url 'definition' profile.id %}#define_point" method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{request.user.id}}">
            <label for="define">Define {{profile.user}}: </label><input type="text" name="define" value="{{defined}}" id="define">
            <button type="submit">Done</button>
        </form>
        {%endif%}
        <h1 class="text-center bg-purple container mb-0 text-danger">{{profile.user}}'s Definitions</h1>
        {% for definition in profile.definitions.all %}
            <div class="text-center container bg-gold mb-1">
                <h3><span class="text-purple">{{definition.defining_member.user}}:</span> {{definition.definition}}</h3>
            {% if request.user == definition.defining_member.user %}
                <div class="text-center">
                    <form class="d-inline" action="{% url 'remove_definition' profile.id %}#define_point">
                        <input type="hidden" name="user_id" value="{{request.user.id}}">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this Definition?')">Remove</button>
                    </form>
                    <form class="d-inline" action="{% url 'edit_definition' profile.id %}#define_point">
                        <input type="hidden" name="user_id" value="{{request.user.id}}">
                        <button type="submit">Edit</button>
                    </form>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div id="describe_point" class="my-5">
        {% if request.user.is_authenticated %}
            <form class="text-center form-control-sm" action="{% url 'description' profile.id %}#describe_point" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{request.user.id}}">
                <label for="describe">Describe {{profile.user}}: </label><textarea name="describe" id="describe" cols="30" rows="10">{{described}}</textarea>
                <button type="submit">Done</button>
            </form>
        {% endif %}
        <h1 class="text-center bg-purple container mb-0 text-danger">{{profile.user}}'s Descriptions</h1>
        {% for description in profile.descriptions.all %}
            <div class="text-center container bg-gold mb-1">
                <h3 class="text-purple">{{description.describing_member.user}}'s description of {{profile.user}}</h3>
                <p><b>{{description.description}}</b></p>
                {% if request.user == description.describing_member.user %}
                <div class="text-center">
                    <form action="{% url 'remove_description' profile.id %}#describe_point">
                        <input type="hidden" name="user_id" value="{{request.user.id}}">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this description?')">Remove</button>
                    </form>
                    <form action="{% url 'edit_description' profile.id %}#describe_point">
                        <input type="hidden" name="user_id" value="{{request.user.id}}">
                        <button type="submit">Edit</button>
                    </form>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div>
        <h1 class="text-center text-gold">Scales</h1>
        <table class="table table-hover table-danger">
            <tr class="text-danger">
                <th>Stat Name</th>
                <th>Stat Value</th>
                <th>Absolute Rank</th>
                <th>Relative Rank</th>
                <th>All Time Rank</th>
            </tr>
            <tr>
                <td>performance</td>
                <td>{{profile.performance|sub:lastone.performance|floatformat:1}}</td>
                <td>{{pbadge1}}</td>
                <td>{{pbadge2}}</td>
                <td>{{pbadge3}}</td>
            </tr>
            <tr>
                <td>Creativity</td>
                <td>{{profile.creativity|sub:lastone.creativity|floatformat:1}}</td>
                <td>{{cbadge1}}</td>
                <td>{{cbadge2}}</td>
                <td>{{cbadge3}}</td>
            </tr>
            <tr>
                <td>Research</td>
                <td>{{profile.research|sub:lastone.research|floatformat:1}}</td>
                <td>{{rbadge1}}</td>
                <td>{{rbadge2}}</td>
                <td>{{rbadge3}}</td>
            </tr>
        </table>
    </div>

    <div>
        <h1 class="text-gold text-center">Statistics</h1>
        <div>
            <h2 class="text-danger text-center">performance: <span class="text-purple">{{profile.performance|sub:lastone.performance|floatformat:1}}</span></h2>
            <div class="d-md-flex justify-content-around bg-gold container text-danger">    
                <div>
                    <p>Tasks Done: <span class="text-dark">{{profile.tasks_done|sub:lastone.tasks_done|floatformat:0}}</span></p>
                    <p>Tasks Approved: <span class="text-dark">{{profile.approved_tasks|sub:lastone.tasks_approved|floatformat:0}}</span></p>
                    <p>Tasks Unapproved: <span class="text-dark">{{profile.unapproved_tasks|sub:lastone.tasks_unapproved|floatformat:0}}</span></p>
                    <p>Deadlines Beaten: <span class="text-dark">{{profile.deadlines_met|sub:lastone.deadlines_beaten|floatformat:0}}</span></p>
                    <p>Deadlines Missed: <span class="text-dark">{{profile.deadlines_missed|sub:lastone.deadlines_missed|floatformat:0}}</span></p>
                    <p>Tasks Given Up: <span class="text-dark">{{profile.tasks_givenup|sub:lastone.tasks_given_up|floatformat:0}}</span></p>
                    <p>Average % Tasks Approval: <span class="text-dark">{{avg_tasks_approval|floatformat:0}}%</span></p>
                    <p>Average % Tasks Progress: <span class="text-dark">{{progress|floatformat:0}}%</span></p>
                    <p>Average Task Completion Speed: <span class="text-dark">{{task_speed}}</span></p>
                </div>
                <div>
                    <p>Total Task Duration: <span class="text-dark">{{total_tasks_duration}}</span></p>
                    <p>Tasks Currently Doing: <span class="text-dark">{{profile.tasks_being_done|floatformat:0}}</span></p>
                    <p>Tasks Started: <span class="text-dark">{{profile.tasks_started|sub:lastone.tasks_started|floatformat:0}}</span></p>
                    <p>Tasks Rectified: <span class="text-dark">{{profile.tasks_rectified|sub:lastone.tasks_rectified|floatformat:0}}</span></p>
                    <p>Average Projects Contribution: <span class="text-dark">{{avg_project_contribution}}</span></p>
                    <p>Total Deadline Excess time: <span class="text-dark">{{passed_deadline}}</span></p>
                    <p>Tasks Approvals made: <span class="text-dark">{{profile.approvals_made|sub:lastone.tasks_approvals_made|floatformat:0}}</span></p>
                    <p>Tasks Objections made: <span class="text-dark">{{profile.tasks_objections_made|sub:lastone.tasks_objections_made|floatformat:0}}</span></p>
                </div>
            </div>

            <div>
                <h2 class="text-danger text-center">Major Role: <span class="text-purple">{{major_role}}</span></h2>
                <div class="d-md-flex justify-content-around bg-gold container text-danger">
                    <div>
                        <p>Requirements Engineering: <span class="text-dark">{{profile.re|sub:lastone.requirements_engineering|floatformat:1}}</span></p>
                        <p>System Analysis and Design: <span class="text-dark">{{profile.sad|sub:lastone.sad|floatformat:1}}</span></p>
                        <p>UI/UX Design: <span class="text-dark">{{profile.ui|sub:lastone.ui|floatformat:1}}</span></p>
                    </div>
                    <div>
                        <p>Algorithms and Data Structues: <span class="text-dark">{{profile.dsa|sub:lastone.dsa|floatformat:1}}</span></p>
                        <p>Programming and Coding: <span class="text-dark">{{profile.code|sub:lastone.code|floatformat:1}}</span></p>
                        <p>Testing: <span class="text-dark">{{profile.test|sub:lastone.test|floatformat:1}}</span></p>
                    </div>
                </div>
            </div>

            <div>
                <h2 class="text-danger text-center">Creativity: <span class="text-purple">{{profile.creativity|sub:lastone.creativity|floatformat:1}}</span></h2>
                <div class="d-md-flex justify-content-around bg-gold container text-danger">
                    <div>
                        <p>Ideas generated: <span class="text-dark">{{profile.ideas_num|sub:lastone.ideas_generated|floatformat:0}}</span></p>
                        <p>Ideas generated Average Ratings: <span class="text-dark">{{ideas_avg_ratings}}</span></p>
                        <p>Supplements made: <span class="text-dark">{{profile.supplements_num|sub:lastone.supplements_made|floatformat:0}}</span></p>
                        <p>Suplements Implemented: <span class="text-dark">{{profile.supplements_implemented|sub:lastone.supplements_implemented|floatformat:0}}</span></p>
                    </div>    
                    <div>
                        <p>Your Ideas Realised: <span class="text-dark">{{profile.realised_ideas|sub:lastone.your_ideas_realised|floatformat:0}}</span></p>
                        <p>Your Ideas Realised Average Ratings: <span class="text-dark">{{realised_ideas_ratings}}</span></p>
                        <p>Your Ideas Realised total Raters: <span class="text-dark">{{profile.realised_ideas_raters|sub:lastone.num_your_ideas_realised_raters|floatformat:0}}</span></p>
                    </div>
                </div>
            </div>

            <div>
                <h2 class="text-danger text-center">Research: <span class="text-purple">{{profile.research|sub:lastone.research|floatformat:1}}</span></h2>
                <div class="d-md-flex justify-content-around bg-gold container text-danger">   
                    <div>
                        <p>Resources Shared: <span class="text-dark">{{profile.resources_shared|sub:lastone.resources_shared|floatformat:0}}</span></p>
                        <p>Resources Shared Average Ratings: <span class="text-dark">{{resources_shared_ratings}}</span></p>
                        <p>Resources Ratings made: <span class="text-dark">{{profile.resource_ratings_made|sub:lastone.resource_ratings_made|floatformat:0}}</span></p>
                        <p>Experience Shared: <span class="text-dark">{{profile.experience_shared|sub:lastone.experience_shared|floatformat:0}}</span></p>
                    </div>
                    <div>
                        <p>Experience Shared Average Ratings: <span class="text-dark">{{experience_shared_ratings}}</span></p>
                        <p>Experiences Ratings made: <span class="text-dark">{{profile.experience_ratings_made|sub:lastone.experience_ratings_made|floatformat:0}}</span></p>
                        <p>Ideas Ratings made: <span class="text-dark">{{profile.idea_ratings_made|sub:lastone.ideas_ratings_made|floatformat:0}}</span></p>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap4/css/bootstrap.min.js' %}"></script>
    <script>
        var check = function() {
            if (document.getElementById('password').value ==
                document.getElementById('cpassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').textContent = 'Passwords matched';
                return true
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').textContent = 'Passwords didn\'t match';
                return false
            }
        }
    </script>
</body>

</html>