<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.css' %}">
    <title>{{folderTopic.name}}</title>
</head>
<body>
    <h1>Research Manager</h1>
    <h2>{{request.user.last_name}}</h2>
    <h1>{{folderTopic.name}}</h1>
    <h3>
        <a href="{% url 'home' %}">home</a>
        {% for directory in path %}
        / <a href="{% url 'folder' directory.id %}">{{directory.name}}</a>
        {% endfor %}
    </h3>
    {% include "research_app/folderContent.html" %}
</body>
</html>