<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.css' %}">
    <title>home</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Research Manager</h1>
            <h2>{{request.user.last_name}}</h2>
        </div>
        <div class="d-flex justify-content-between">
            <h1 class="text-danger">Home</h1>
            <h2><a href="{% url 'logout' %}">Log Out</a></h2>
        </div>
    </div>
    {% include "research_app/folderContent.html" %}
    <script src="{% static 'bootstrap4/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>