<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.css' %}">
    <title>SignUp</title>
</head>
<body>
    <h1>Research Manager</h1>
    <h6><a href="{% url 'signup' %}">Sign Up</a></h6>
    <h2>Login</h2>
    {% if failMessage %}
        <h3 style="color: red;"><span style="color: orange;">Last Activity Status: </span>{{failMessage}}</h3>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="email">Email: <input type="email" name="email" id="email" required></label>
        <label for="password">Password: <input type="password" name="password" id="password" required></label>
        <button type="submit">Login</button>
    </form>
</body>
</html>