<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.css' %}">
    <title>SignUp</title>
</head>
<body>
    <div class="text-center">
        <h1 class="text-primary" >Research Manager</h1>
        <h2>Login</h2>
    </div>
    <div style="height:60vh" class="container d-flex justify-content-center align-items-center">
        <div>
            {% if failMessage %}
            <h3 style="color: red;"><span style="color: orange;">Last Activity Status: </span>{{failMessage}}</h3>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label for="email">Email: </label><input class="form-control" type="email" name="email" id="email" required>
                <label for="password">Password: </label><input class="form-control"  type="password" name="password" id="password" required>
                <div class="text-center">
                    <button class="mt-3 btn btn-primary" type="submit">Login</button>
                </div>
            </form>
            <p class="text-center mt-2">create an acccount <span class="text-primary"><a style="font-style: italic;" href="{% url 'signup' %}">here</a></span></p>
        </div>
    </div>
</body>
</html>