<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Research Manager</h1>
    <h6><a href="{% url 'login' %}">Log In</a></h6>
    <h2>SignUp</h2>
    <h3 style="color: green;">{{request.session.successMessage}}</h3>
    <h3 style="color: red;">{{request.session.failMessage}}</h3>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <label for="username" >Username: <input type="text" name="username" id="username" required></label>
        <label for="email">Email: <input type="email" name="email" id="email" required></label>
        <label for="password">Password: <input type="password" name="password" id="password" required></label>
        <label for="cpassword">Confirm Password: <input type="password" name="cpassword" id="cpassword" required></label>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>