{% load static from staticfiles %}
{% load library %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
    <title>{{idea.name}}</title>
</head>

<body>
    {% include "Accounts/nav-in.html" %}
    <h6>
        <a href="{% url 'idea' %}">ideas</a>/
        <a href="{% url 'idea_details' idea.id %}">{{idea.name}}</a>
    </h6>

    <div class="row text-center text-lg-left">
        <div class="col-12 col-lg">
            <h2 class="d-md-inline text-gold">{{idea.name}}</h2>
            <h6>{{idea.period}}</h6>
        </div>
        <div class="col-12 col-lg text-lg-right">
            <h2 class="text-purple">Idealised By: {{idea.idealist.user}}</h2>
        </div>
    </div>

    <h1 class="text-center mt-5 text-gold"><b>Statistics</b></h1>
    <div class="d-md-flex text-center text-md-left justify-content-between p-2 bg-gold text-gold">
        <div>
            {% for v in version|the_range:0 %}
                <h3>Version {{v|add:1}} Progress: <span class="text-danger">{{idea.progress|select:v|floatformat:2}}%</span></h3>
            {%endfor%}
            <h3>Tasks identified: <span class="text-danger">{{idea.number}}</span></h3>
            <h3>Tasks done: <span class="text-danger">{{idea.num_done}}</span></h3>
        </div>
        <div>
            <h3>Ratings: <span class="text-danger">{{idea.avg_ratings}}</span></h3>
            <h3>link: <span><a href="{{idea.link}}" target="_blank">Git Repo</a></span></h3>
            <form action="{% url 'idea_link' idea.id %}" method="POST">
                {% csrf_token %}
                <label for="link"></label><input type="text" name="link" value="{{idea.link}}" id="link">
                <button type="submit">Add link</button>
            </form>
        </div>
    </div>
    <div class="container bg-gold text-center my-4">
        <h1 class="text-purple">Goals of this Project</h1>
        <h2 class="">{{idea.description}}</h2>
    </div>

    <div id="rate_point" class="text-center my-4">
        <h1 class="text-danger">Rate this Idea</h1>
        <form action="{% url 'rate' idea.id %}#rate_point" method="POST">
            {% csrf_token %} {{rate}}
            <button type="submit">Rate</button>
        </form>
        <div class="text-left container">
            {% for rating in idea.ratings.all %}
            <div class="my-3 bg-purple p-3 border border-dark">
                <h3 class="text-danger">{{rating.member.user}}</h3>
                <h5 class="text-gold">{{rating.ratings}}</h5>
                <p>{{rating.review}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="sup_point">
        <form class="form-control-sm bg-gold container text-center" action="{% url 'supplement' idea.id %}#sup_point" method="POST">
            {% csrf_token %} <legend><h1 class="text-danger">Add a Supplement</h1></legend>
            <input type="hidden" name="supplement_id" value="{{supplement.id}}">
            <label for="sup_name" class="d-block text-center">A Brief Overall Description: </label><textarea name="sup_name" id="sup_name" cols="30" rows="3" required>{{supplement.name}}</textarea>
            <label for="sup_description" class="d-block text-center">Goals of the Supplement: </label><textarea name="sup_description" id="sup_description" cols="30" rows="4">{{supplement.description}}</textarea>
            <div class="text-center"></div>
                {% if supplement %}
                <button type="submit" onclick="return confirm('Are you sure you want to edit this Supplement?')">Edit Supplement</button>
                {%else%}
                <button type="submit">Add Supplement</button>
                {% endif %}    
            </div>     
        </form>
        <h1 class="text-center text-gold mt-4">Supplements</h1>
        <div class=" container">
            {% for supplement in idea.supplements.all %}
            <div class="bg-purple">
                <h2 class="text-purple text-center">A Brief Overall Description</h2>
                <h4 class="text-center">{{supplement.name}}</h4>
                <h2 class="text-purple text-center">Goals of the Supplements</h2>
                <h4 class="text-center">{{supplement.description}}</h4>
                {% if request.user == supplement.member.user %}
                <div class="d-sm-flex text-center justify-content-between container">
                    <form class="form-control-sm" action="{% url 'supplement_status' idea.id %}#sup_point" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="supplement_id" value="{{supplement.id}}">
                        <label for="status">{{supplement.status}}</label><select name="status" id="status">
                            <option value="Not Done">Not Done</option>
                            <option value="Done">Done</option>
                        </select>
                        <button type="submit" onclick="return confirm('Are you sure you want to change this supplement\'s status?')">Change Status</button>
                    </form>
                    <form class="form-control-sm" action="{% url 'edit_supplement' idea.id %}#sup_point" method="GET">
                        {% csrf_token %}
                        <input type="hidden" name="supplement_id" value="{{supplement.id}}">
                        <button type="submit">Edit Supplement</button>
                    </form>
                    <form class="form-control-sm" action="{% url 'delete_supplement' idea.id %}#sup_point" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="supplement_id" value="{{supplement.id}}">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this Supplement?')">Delete Supplement</button>
                    </form>
                </div>
                {% endif %}
                <h2 class="text-center text-light" style="background-color: purple;">{{supplement.member.user}}</h2>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container my-4 bg-purple">
        <h1 class="text-center text-danger">Tasks Descriptions</h1>
        <h6 class="text-center text-success">Know your tasks before commiting to one of them</h6>
        {% for task in tasks %}
            <h2 class="text-center text-purple">{{task.name}} - {{task.stage}}</h2>
            <p>{{task.description}}</p>
        {% endfor %}
    </div>

    <div id="task_point">
        <h4 class="text-danger">{{request.session.task_exists}}</h4>
        <form class="form-control-sm bg-gold container" action="{% url 'task' idea.id %}#task_point" method="POST">
            {% csrf_token %}
            <label for="the_task" class="d-block">Select a Task: <select name="the_task" id="the_task">
                {% for task in tasks %}
                  <option value="{{task}}">{{task.name}} - {{task.stage}}</option>
                {% endfor %}
            </select></label>

            <label for="version" class="d-block">For Version: <select class="ml-3" name="version" id="version">
                {% for v in version|the_range:0 %}
                  <option value="{{v|add:1}}">{{v|add:1}}</option>
                {% endfor %}
            </select></label>
            
            <label for="duration" class="d-block">Duration: <input class="ml-4" type="number" min="1" max="100" name="duration" id="duration" required>
            <select name="time" id="time">
                <option value="minutes">Minutes</option>
                <option value="hours">Hours</option>
                <option value="days">Days</option>
            </select></label>
            <div class="mx-1">
                <button type="submit" onclick="return confirm('Are you sure you want to do this task?')">Select Task</button>
            </div>
        </form>

        <h1 class="container text-center text-gold mt-4">Tasks</h1>
        <form class="form-control-sm bg-purple container" action="{% url 'get_tasks' idea.id %}#task_point" method="get">
            {% csrf_token %}
            <div class="d-md-flex justify-content-between">
                <div>
                    <label for="the_task" class="d-block">Task: </label><select name="the_task" id="the_task">
                        <option value="all">All</option>
                        {% for task in tasks %}
                        <option value="{{task.name}}">{{task.name}} - {{task.stage}}</option>
                        {% endfor %}
                    </select>

                    <label for="version" class="d-block">Version: </label><select name="version" id="version">
                        <option value="all">All</option>
                        {% for v in version|the_range:0 %}
                        <option value="{{v|add:1}}">{{v|add:1}}</option>
                        {% endfor %}
                    </select>

                    <label for="update" class="d-block">Update: </label><select name="update" id="update">
                        <option value="all">All</option>
                        {% for u in update|the_range:1 %}
                        <option value="{{u}}">{{u}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="member" class="d-block">Member: </label><select name="member" id="member">
                        <option value="all">All</option>
                        {% for member in members %}
                        <option value="{{member.id}}">{{member.user}}</option>
                        {% endfor %}
                    </select>

                    <label for="status" class="d-block">Status: </label><select name="status" id="status" required>
                        <option value="all">All</option>
                        <option value="Given Up">Given Up</option>
                        <option value="Being Done">Being Done</option>
                        <option value="Done">Done</option>
                    </select> 

                    <label for="sort" class="d-block">Sort: </label><select name="sort" id="sort" required>
                        <option value="progress_desc">Highest Progress</option>
                        <option value="progress_asc">Lowest Progress</option>
                        <option value="time_left_desc">Most Time Left</option>
                        <option value="time_left_asc">Least Time Left</option>
                    </select> 
                </div>
            </div>

            <div class="mt-1 text-md-center">
                <button type="submit">Filter</button>
            </div>
        </form>

        {% for task in selected_tasks %}           
            <div class="bg-gold mt-4 container">
                <h3>{{task.stage}}:<a href="{% url 'task_details' task.id %}">{{task.name}}</a></h3>
            {% if task.member.user %}
                {% if task.update == 0 %}
                    <p class="text-gold">Version {{task.version}} <i>by {{task.member.user}}</i></p>
                {%else%}
                    <p class="text-gold">Version {{task.version}}, Update {{task.update}} <i>by {{task.member.user}}</i></p>
                {% endif %} 
            {% endif %}
                <h4 class="text-purple">Task Progress: {{task.progress}}%</h4>
                <h4 class="text-danger">Status: {{task.status}} </h4>
                {% if task.status == "Being Done"%}
                    <h5>Time left: <span class="text-danger">{{task.period}}</span></h5>
                {% endif %}
                <div class="container text-center my-3">
                    <form class="form-control-sm d-md-inline" action="{% url 'update_task' idea.id %}#task_point" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{task.id}}">
                        <label for="duration">Duration</label><input type="number" min="1" max="100" name="duration" id="duration" required>
                        <select name="time" id="time">
                            <option value="minutes">Minutes</option>
                            <option value="hours">Hours</option>
                            <option value="days">Days</option>
                        </select>
                        <button type="submit" onclick="return confirm('Are you sure you want to update this task?')">Update Task</button>
                    </form>
                    {% if not task.member.user or task.member.user == request.user %}
                    <form class="form-control-sm d-md-inline" action="{% url 'update_version' idea.id %}#task_point" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{task.id}}">
                        <label for="version">For Version {{task.version}}: </label><select name="version" id="version">
                            {% for v in version|the_range:1 %}
                            <option value="{{v|add:1}}">{{v|add:1}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" onclick="return confirm('Are you sure you want to upgrade the version of this task?')">Update Version</button>
                    </form>    

                    <form class="form-control-sm d-md-inline" action="{% url 'delete_task' idea.id %}#task_point" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{task.id}}">
                        <button type="submit" onclick="return confirm('Deleting this task is equivalent to giving it up. \nAre you sure you want to delete this task?')">Delete Task</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div>
            {% if idea.progress|select:0 >= 60 %}
                <form class="form-control-sm container text-center bg-gold my-4" style="width: fit-content;" action="{% url 'publish' idea.id %}" method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <label class="d-block text-center" for="name">Name: </label><input type="text" maxlength="100" name="name" value="{{idea.name}}" id="name" required>
                    <label class="d-block text-center" for="description">Description: </label><textarea name="description" id="description" cols="30" rows="10" required>{{idea.description}}
                    {% for supplement in idea.supplements.all %}
                        {{supplement.description}}
                    {% endfor %}</textarea>
                    <label class="d-block text-center" for="image">Image: </label><input type="file" name="image" accept="image/*" id="image" required>
                    <label class="d-block text-center" for="link">Link: </label><input type="text" name="link" value="{{idea.link}}" id="link" required>
                    <div class="text-center">
                        <button type="submit" onclick="return confirm('Are you sure you want to publish this Project?')">Publish</button>
                    </div>
                </form>
            {% endif %}
        </div>

        <script src="{% static 'bootstrap4/css/bootstrap.min.js' %}"></script>
</body>

</html>